/* blue complemented with http://mcg.mbitson.com/#!?dvblue=%2312acdf */
$local-blue: (
    50 : #e3f5fb,
    100 : #eafaff,
    200 : #baeeff,
    300 : #81dbf9,
    400 : #46c7f3,
    500 : #12acdf,
    600 : #0099cc,
    700 : #0079a2,
    800 : #00526e,
    900 : #093443,
    A100 : #f3faff,
    A200 : #c0e5ff,
    A400 : #8dd1ff,
    A700 : #74c6ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
