/* grey complemented with http://mcg.mbitson.com/#!?dvblue=%238a979f */
$local-grey: (
    50 : #f1f4f6,
    100 : #eaeef1,
    200 : #dfe4e7,
    300 : #cbd3d8,
    400 : #b2bfc6,
    500 : #8a979f,
    600 : #66747c,
    700 : #4f5b62,
    800 : #343e45,
    900 : #093443,
    A100 : #e0f2fe,
    A200 : #afdefd,
    A400 : #7acaff,
    A700 : #60bfff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
