@import '~@angular/material/theming';
// local palettes
@import './palette-blue.scss';
@import './palette-grey.scss';
@import './palette-red.scss';
// back/fore grounds
@import './mat-dark-theme-bfg.scss';
@import './mat-light-theme-bfg.scss';
@import './local-0-light-theme-bfg.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Creates a container object for a theme to be given to individual component theme mixins.
// see https://github.com/angular/components/blob/8.2.3/src/material/core/theming/_theming.scss#L68
@function get-theme($primary, $accent, $warn, $isdark, $theme-foreground, $theme-background) {
    @return (
        primary: $primary,
        accent: $accent,
        warn: $warn,
        is-dark: $isdark,
        foreground: $theme-foreground,
        background: $theme-background,
    );
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// prebuilt
$pal-mat-deep-purple: mat-palette($mat-deep-purple);
$pal-mat-amber: mat-palette($mat-amber);
$pal-mat-indigo: mat-palette($mat-indigo);
$pal-mat-pink: mat-palette($mat-pink);
$pal-mat-blue-grey: mat-palette($mat-blue-grey);
$pal-mat-purple: mat-palette($mat-purple);
$pal-mat-green: mat-palette($mat-green);
// local
$pal-local-grey: mat-palette($local-grey);
$pal-local-blue: mat-palette($local-blue);

// The warn palette is optional (defaults to red).
$pal-mat-red: mat-palette($mat-red);
$pal-local-red: mat-palette($local-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme-deeppurple-amber: mat-light-theme($pal-mat-deep-purple, $pal-mat-amber, $pal-mat-red);
$theme-indigo-pink: get-theme($pal-mat-indigo, $pal-mat-pink, $pal-mat-red,
    false, $mat-light-theme-foreground, $mat-light-theme-background);
$theme-pink-bluegrey: mat-dark-theme($pal-mat-pink, $pal-mat-blue-grey, $pal-mat-red);
$theme-purple-green: get-theme($pal-mat-purple, $pal-mat-green, $pal-mat-red,
    true, $mat-dark-theme-foreground, $mat-dark-theme-background);
// local
$theme-grey-blue: mat-light-theme($pal-local-grey, $pal-local-blue, $pal-local-red);
$theme-blue-grey: mat-light-theme($pal-local-blue, $pal-local-grey, $pal-local-red);
$theme-blue-grey2: get-theme($pal-local-blue, $pal-local-grey, $pal-local-red,
    false, $local-0-light-theme-foreground, $local-0-light-theme-background);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
.theme-deeppurple-amber {
    @include angular-material-theme($theme-deeppurple-amber);
}
.theme-indigo-pink{
    @include angular-material-theme($theme-indigo-pink);
}
.theme-pink-bluegrey {
    @include angular-material-theme($theme-pink-bluegrey);
}
.theme-purple-green {
    @include angular-material-theme($theme-purple-green);
}
// local
.theme-grey-blue {
    @include angular-material-theme($theme-grey-blue);
}
.theme-blue-grey {
    @include angular-material-theme($theme-blue-grey);
}
.theme-blue-grey2 {
    @include angular-material-theme($theme-blue-grey2);
}

